/*
Copyright: © 2022 Dario Passariello <dariopassariello@gmail.com>
License: MIT
*/

.castVote {
  padding: 0;
  margin: 2px 5px;
  background: none;

  .sel {
    color: goldenrod
  }

  >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    //direction: rtl;
    text-align: left;

    >li {
      position: relative;
      display: inline-block;
      transition: color 0.3s ease;

      &:before {
        content: '\2605';
        width: 20px;
        height: 20px;
        font-size: 20px;
      }

      &:hover,
      .selected,
      //&:hover ~ li,
      .selected~li {
        transition: color 0.3s ease;
        color: red;
        transform: translateY(-3px) scale(200%);
        cursor: pointer;
        z-index: 10
      }

    }

  }

}