/*
Copyright: © 2022 Dario Passariello <dariopassariello@gmail.com>
License: MIT
*/

:root {
  --nav-left: 160px;
}

nav {

  position: absolute;
  left: var(--nav-left);
  right: 10px;
  top: var(--superDemo-header-height);
  height: var(--superDemo-nav-height);
  border-width: 0 0 1px 0;
  background: var(--superDemo-nav-background);
  font-size: .8em;
  text-transform: uppercase;
  border-radius: 0 0 25px 25px;

  ul {
    position: relative;
    margin: 0;
    padding: 2px 15px 0 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    z-index: 12;

    li {

      a {
        margin: 0 2px;
        padding: 10px 35px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
        align-content: center;
        border-radius: 4px;
        transition: 300ms;
        white-space: nowrap;
        background: var(--superDemo-nav-background);

        &:hover {
          background: #007acc;
        }

      }

    }

  }

  .selected {
    background: #007acc;
  }

  #siteName {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.1em;
    font-weight: 700;
  }

  // ul li::marker {
  //   position:absolute;
  //   content:'';
  //   color: orange;
  //   padding:0;
  // }

}