.vscode/**
.vscode-insiders/**
.vscode-test/**
src/**
*.OLD*
**/*.map
.gitignore
tsconfig.json
**/__mocks__/**
**/tests/**
**/*.ts
**/tsconfig.json
jsconfig.json
.eslintrc.js
**/.eslintrc.js
prettier.config.js
.travis.yml
yarn.lock
yarn-error.log
scripts/
coverage
.github/**
images/**
node_modules
webpack.config.js
package.json
generated-icons/
*.zip
