/*
Copyright: © 2022 Dario Passariello <dariopassariello@gmail.com>
License: MIT
*/

.homepage {

  fieldset {
    line-height: 1.5em;
    font-size: 1.2em;
  }

  .video {
    float: left;
    margin: 0 25px 10px 0;
    width: 352px;
    height: 200px;
    border-radius: 12px;
  }

  .img {
    float: left;
    margin: 0 25px 15px 0;
    width: 250px;
    height: auto;
    border-radius: 12px;
  }

}