/*
Copyright: © 2022 Dario Passariello <dariopassariello@gmail.com>
License: MIT
*/

.backGroundFullScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  cursor: progress;
  opacity: .5;
  background: rgba(0, 0, 0, .1);
  border-radius: 12px;

  .loading_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    color: rgba(var(--color_1), 1);

    .rotor {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: solid;
      border-top-color: white !important;
      border-left-color: white !important;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-width: 5px;
      width: 200px;
      height: 200px;
      animation: rotating 1000ms linear infinite;
    }

    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

  }

}