/*
Copyright: © 2022 Dario Passariello <dariopassariello@gmail.com>
License: MIT
*/

:root {

  --superDemo-gap-margin: 20px 20px 20px 50px;

  /* BODY */
  --superDemo-body-background-color: rgba(0, 81, 255, 0.1);
  --superDemo-body-color: rgba(255, 255, 255, .8);

  /* HEADER */
  --superDemo-header-height: 70px;

  /* NAV */
  --superDemo-nav-background: #2159d37e;
  --superDemo-nav-height: 40px;

  /* ASIDE */
  --superDemo-aside-width: 160px;

  /* MAIN */
  --superDemo-main-background-color: rgba(197, 197, 197, 0.1);
  --superDemo-main-max-width: 1240px;

  /* FOOTER */
  --superDemo-footer-background: #2159d37e;
  --superDemo-footer-height: 40px;

  /* SCROLLBAR */
  --superDemo-scrollbar-width: 10px;
  --superDemo-scrollbar-height: 10px;
  --superDemo-scrollbar-color: #2159d37e;

  /* INPUT / BUTTONS */
  --superDemo-inputs-borderRadius: 5px;

}