/*
Copyright: © 2022 Dario Passariello <dariopassariello@gmail.com>
License: MIT
*/

.progress {
  position: relative;
  margin: 10px;
  padding: 8px;
  margin: 10px;
  max-width: 200px;
  height: 22px;
  border-radius: 16px;
  background-color: rgba(30, 120, 200, .5);
  //animation: isStop 0s ease-in 12s forwards;
}

.progressError {
  height: 22px;
  padding: 5px 15px;
  //overflow:hidden;
  position: relative;
  max-width: 200px;
  margin: 10px;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 25px;
  //animation: isError 0s forwards;
  //animation-delay: 12s;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: 550;
}

.color {
  position: relative;
  background-color: white;
  width: 0;
  height: 100%;
  border-radius: 15px;
  animation: progress 10s forwards;
}

@keyframes progress {
  0% {
    width: 6%;
  }

  25% {
    width: 50%;
  }

  50% {
    width: 75%;
  }

  75% {
    width: 85%;
  }

  100% {
    width: 100%;
  }
}

;

@keyframes isStop {
  to {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}

@keyframes isError {
  100% {
    padding: 4px 8px;
    height: 30px;
  }
}